*.ta-annotation-highlight {
  font-style: normal;
  background-color: rgba(136, 153, 166, 0.4);
}

*.boldRed {
  font-weight: bold;
  color: red;
}

a.pinkLink {
  color: #f66;
  font-size:
  1.2em;
}
