.popline {
  min-height: 40px;
  max-width: 340px;
  line-height: 40px;
  position: absolute;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.75);
  background: rgba(56, 169, 247, 1.0);
  opacity: 0.95;
  display: none;
  margin: 0;
  list-style: none;
  padding: 0px 5px;
  font-family: "Segoe UI Semilight", Helvetica, "Hiragino Sans GB", sans-serif;
  text-rendering: optimizeLegibility;
  white-space: pre-wrap; }
  .popline .popline-button {
    color: white;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    padding: 0 10px;
    min-width: 24px;
    text-align: center;
    display: inline-block; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .popline .popline-button i {
      font-weight: normal; } }
    .popline .popline-button .text {
      font-size: 14px; 
      line-height: 20px; }
  .popline .boxed {
    padding: 0 9px; }
  .popline .lighter {
    font-weight: lighter; }
  .popline .subbar {
    display: none;
    list-style: none;
    padding: 0; }
  .popline .textfield {
    border: none;
    height: 104px;
    font-size: 24px;
    padding: 0 10px;
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    background: rgba(74, 74, 74, 0.15);
    color: #FFFFFF;
    line-height: 31px;
    margin-left: 10px;
    display: none;
    outline: none;
    width: 300px; }
  .popline .textfield::-webkit-input-placeholder {
    color: #EEE; }
  .popline .textfield:-moz-placeholder {
    color: #EEE; }
  .popline .textfield::-moz-placeholder {
    color: #EEE; }
  .popline .textfield:-ms-input-placeholder {
    color: #EEE; }

  .popline .opinions {
    border: none;
    height: 100px;
    width: 280px;
    padding: 0 30px;
    margin-bottom: -30px;
    color: #FFFFFF;
    outline: none;
    text-align: left;}
  
  .popline .popline-selectedText-button {
    height: 120px;
    font-weight: normal; 
    padding: 0 25px;
  }